@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-site);
  font-family:
    Inter,
    "system-ui",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-site);
  color: var(--text-high-contrast);
  font-size: 1rem;
  line-height: 1.65;
}
.theme-light {
  --brand-primary: rgb(47, 112, 193);
  --brand-secondary: rgb(116, 97, 195);
  --brand-alternative: rgb(19, 120, 134);
  --background-site: rgb(249, 249, 249);
  --background-code: rgb(255, 255, 255);
  --text-body: rgb(54, 49, 61);
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --admonition-note: rgb(46, 109, 188);
  --admonition-warning: rgb(255, 196, 9);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 47, 112, 193;
  --brand-secondary-rgb-value: 116, 97, 195;
  --brand-alternative-rgb-value: 19, 120, 134;
  --background-site-rgb-value: 249, 249, 249;
  --background-code-rgb-value: 244, 244, 244;
  --text-body-rgb-value: 54, 49, 61;
  --text-comment-rgb-value: 99, 94, 105;
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-medium-contrast-rgb-value: 99, 94, 105;
  --text-low-contrast-rgb-value: 116, 109, 118;
  --detail-high-contrast-rgb-value: 192, 192, 192;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
  --detail-low-contrast-rgb-value: 240, 240, 242;
  --admonition-note-rgb-value: 46, 109, 188;
  --admonition-warning-rgb-value: 255, 196, 9;
  --admonition-danger-rgb-value: 220, 38, 38;
}
body a {
  color: var(--brand-primary);
}
body a:hover {
  opacity: 0.8;
}
header {
  width: 100%;
  height: 56px;
  position: relative;
  background-color: var(--background-code);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
h1 {
  margin: 0px !important;
}
ol,
ul {
  list-style-type: none;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-code);
  text-align: center;
}
footer svg {
  margin-bottom: 5%;
}
footer a span {
  font-size: 0.7rem !important;
  opacity: 1 !important;
}
.supplement {
  font-size: 0.8rem;
  color: var(--text-low-contrast);
  position: relative;
  text-indent: 1em;
  margin-bottom: 2rem;
}
.supplement::before {
  content: "※";
  position: absolute;
  top: 0;
  left: -0.8em;
}
.supplement a {
  color: var(--text-low-contrast);
  text-decoration: underline;
}
.map_iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: none;
  @media (max-width: 600px) {
    width: 100%;
    height: 180px;
  }
}
.staticwrap h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.staticwrap img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
